{% extends 'base.html' %}
{% block content %}

<div style="text-align: center;">
    <h1 style="margin: 0;">Activity</h1>
</div>
<!-- CRD Extracurricular Taking-->
<a href="{% url 'main:create_activity' %}"><button>[Add New Activity]</button></a>
<div class="d-flex align-items-center justify-content-center">
    <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 100%;">
        <thead>
            <tr>
                <th>Activity Name</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in result %}
                <tr>
                    <td>{{ activity.1 }}</td>
                    <td>
                        {%if  activity.2%}
                        <a href="{% url 'main:delete_activity' id=activity.0|stringformat:"s" %}" ><button class="btn btn-primary">Delete</button></a>
                        <a href="{% url 'main:edit_activity' id=activity.0|stringformat:"s" name=activity.1 %}" ><button>Edit</button></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
<a href="{% url 'main:dashboard' %}"><button>Back</button></a></h5></li>
{% endblock content%}