{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">ADMIN DASHBOARD</h1>
{% include 'navbar.html'%}

<ul>
    <li><h5>Child List: <a href="{% url 'main:child_list' %}" ><button>Link</button></a></h5></li>
    <li><h5>Staff List: <a href="#">[link]</a></h5></li>
    <li><h5>Program: <a href="#">[link]</a></h5></li>
    <li><h5>Offered Program: <a href="{% url 'main:offered_program' %}" ><button>Link</button></a></h5></li>
    <li><h5>Extracurricular: <a href="{% url 'main:crud_extracurricular' %}"><button>Link</button></a></h5></li>
    <li><h5>Menu: <a href="#">[link]</a></h5></li>
    <li><h5>Activity: <a href="#">[link]</a></h5></li>
    <li><h5>Room List: <a href="#">[link]</a></h5></li>
    <li><h5>Payment History: <a href="{% url 'main:payment_history' %}"><button>Link</button></a></h5></li>
    
</ul>

{% endblock content %}