{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">CLASS</h1>

    <!-- Room Table (Centered) -->
    <div class="d-flex align-items-center justify-content-center">
        <table class="table table-bordered table-striped table-hover mt-1 text-center" style="width: 100%;">
            <thead>
                <tr>
                    <th>Class Name</th>
                    <th>Year</th>
                    <th>Room No.</th>
                    <th>Children List</th>
                </tr>
            </thead>
            <tbody>
                {% for class in result%}
                <tr>
                    <td>{{ class.0 }}</td>
                    <td>{{ class.1 }}</td>
                    <td>{{ class.2 }}</td>
                    <td><a href="{% url 'main:children_class' %}" class="btn btn-primary">Children</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Back Button (Centered) -->
    <div class="text-center">
        <a href="{% url 'main:dashboard' %}" class="btn btn-secondary">Back</a>
    </div>
{% endblock content %}
