{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">ROOM</h1>
    <!-- Add Room Button (Aligned Left) -->
    <div class="text-left">
        <a href="{% url 'main:room_form' %}"><button type="submit" class="btn btn-primary mb-3 ms-1">Add New Room</button></a>
    </div>

    <!-- Room Table (Centered) -->
    <div class="d-flex align-items-center justify-content-center">
        <table class="table table-bordered table-striped table-hover mt-1 text-center" style="width: 100%;">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Room Area</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for room in result %}
                <tr>
                    <td> {{ room.0 }}</td>
                    <td> {{ room.1 }}</td>
                    <td><a href="{% url 'main:edit_room' roomNo=room.0|stringformat:"s" area=room.1 %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'main:delete_room' roomNo=room.0|stringformat:"s" %}" class="btn btn-danger">Delete</a></td>                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Back Button (Centered) -->
    <div class="text-center">
        <a href="{% url 'main:dashboard' %}" class="btn btn-secondary">Back</a>
    </div>
{% endblock content %}
