{% extends 'base.html' %}
{% block content %}
<!-- Note that the model and form for Extracurricular have not been made yet for Group Assignment 2!-->
{%if user.is_staff and user.is_superuser%}
    <h1 class="text-center">EXTRACURRICULAR</h1>
    <div>
        <a href="{% url 'main:add_extracurricular' %}" ><button>Add New Extracurricular</button></a>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 80%;">
            <thead>
                <th>Name</th>
                <th>Day</th>
                <th>Hour</th>
                <th>Operation</th>
            </thead>
            <tbody>
                <tr>
                    <td>Basketball</td>
                    <td>Monday</td>
                    <td>3</td>
                    <td>
                        <a href="{% url 'main:extracurricular_detail'%}"><button type="button" class="btn btn-primary">Detail</button></a>
                        <a href="{% url 'main:update_extracurricular'%}"><button type="button" class="btn btn-warning">Edit</button></a>
                        <a href="#"><button type="button" class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
                <tr>
                    <td>Baseball</td>
                    <td>Wednesday</td>
                    <td>4</td>
                    <td>
                        <a href="{% url 'main:extracurricular_detail'%}"><button type="button" class="btn btn-primary">Detail</button></a>
                        <a href="{% url 'main:update_extracurricular' %}"><buttn type="button" class="btn btn-warning">Edit</button></a>
                        <a href="#"><button type="button" class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
    
    <div style="margin-top: 20px; text-align: center;">
        <a href="{% url 'main:dashboard' %}" ><button>Back</button></a>
    </div>
{% endif %}

{% endblock content %}