{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">{{ child_name }} DAILY REPORT</h1>
<div class="text-left">
  <p>Child Name: {{ child_name }}</p>
  <a href="{% url 'main:daily_reportform' %}">
    <button type="submit" class="btn btn-primary mb-3 ms-1">Add New Report</button>
  </a>
</div>

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Activity Report</th>
        <th>Eating Report</th>
        <th>Photo Link</th>
      </tr>
    </thead>
    <tbody>
      {% for daily in result %}
      <tr>
        <td>{{ daily.0 }}</td>
        <td>{{ daily.1 }}</td>
        <td>{{ daily.2 }}</td>
        <td>{{ daily.3 }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
<div style="margin-top: 20px; text-align: center;">
    <a href="{% url 'main:class_list' %}">
      <button>Back</button>
    </a>
</div>
{% endblock content %}
