{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">DRIVER DASHBOARD</h1>
{% include 'navbar.html'%}
<ul>
    <li><h5>Name: Baby</h5></li>
    <li><h5>Registered Phone Number: 085923237362</h5></li>
    <li><h5>Address: San Diego</h5></li>
    <li><h5>Gender: Male</h5></li>
    <li><h5>Date of Birth: </h5></li>
    <li><h5>NIK: </h5></li>
    <li><h5>NPWP: </h5></li>
    <li><h5>Bank Name: </h5></li>
    <li><h5>Bank Account Number: </h5></li>
    <li><h5>Driving License number: </h5></li>
    <li><h5>Available Working Hours: </h5></li>
</ul>

{% endblock content %}