{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">DRIVER DASHBOARD</h1>
{% include 'driver_navbar.html'%}
<ul>
    <li><h5>Name: Baby</h5></li>
    <li><h5>Registered Phone Number: 085923237362</h5></li>
    <li><h5>Address: San Diego</h5></li>
    <li><h5>Gender: Male</h5></li>
    <li><h5>Date of Birth: 1993-08-18 22:33:13</h5></li>
    <li><h5>NIK: 1106130104090001</h5></li>
    <li><h5>NPWP: 39.532.715.8-000.000</h5></li>
    <li><h5>Bank Name: Pacific Coast Bank</h5></li>
    <li><h5>Bank Account Number: 327715834</h5></li>
    <li><h5>Driving License number: 9876-5432-109876</h5></li>
    <li><h5>Available Working Hours: Tuesday</h5></li>
</ul>

{% endblock content %}