<!-- manage_menus.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Manage Menus</h1>
    <!-- Add Menu to Existing -->


    <!-- Menu Table -->
    <a href="{% url 'main:menu_form' %}" class="btn btn-primary mt-5 mb-1 ms-1">Add New Menu</a>
    <div class="d-flex align-items-center justify-content-center">
        <table class="table table-bordered table-striped table-hover text-center" style="width: 100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for child in result %}
                <tr>
                    <td>{{ child.1 }}</td>
                    <td>{{ child.2 }}</td>
                    <td><a href="{% url 'main:edit_menu' id=child.0|stringformat:"s" name=child.1 type=child.2 %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'main:delete_menu' id=child.0|stringformat:"s" %}" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Back Button (Centered) -->
    <div class="text-center">
        <a href="{% url 'main:dashboard' %}" class="btn btn-secondary">Back</a>
    </div>
{% endblock content %}
