{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Manage Extracurricular</h1>
<!-- CRD Extracurricular Taking-->
<h3> My Extracurricular: </h3>
<div class="d-flex align-items-center justify-content-center">
    <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 100%;">
        <tbody>
            <th>Name</th>
            <th>Day</th>
            <th>Hour</th>
            <th>Operation</th>
            <tr>
                
            </tr>
        </tbody>
    </table>
</div>

<div style="display:flex; align-items: center; justify-content: center;">
    <button style="align-self: center; justify-content: center;"> Add </button>
</div>
{% endblock content%}