{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">PAYMENT HISTORY</h1>
<!-- R Payment History (Child’s Perspective) Use Django IF statements -->
{% if user.is_child %}
    <div class="d-flex align-items-center justify-content-center">
        <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 100%;">
            <thead>
                <th>Program Name</th>
                <th>Year</th>
                <th>Class Name</th>
                <th>Payment Date</th>
                <th>Type</th>
                <th>Fine</th>
                <th>Amount</th>
            </thead>
            <tbody>
                <tr>
                    <td>Kindergarten 1</td>
                    <td>2023</td>
                    <td>Orchard</td>
                    <td>2/13/2023</td>
                    <td>monthly</td>
                    <td>450000</td>
                    <td>4450000</td>
                </tr>
                <tr>
                    <td>Junior Toddler</td>
                    <td>2023</td>
                    <td>Mango</td>
                    <td>12/20/2022</td>
                    <td>daily</td>
                    <td>500000</td>
                    <td>5500000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top: 20px; text-align: center;">
        <a href="{% url 'main:dashboard' %}" ><button>Back</button></a>
    </div>
{% endif %}


<!-- R Payment History (Admin’s Perspective) Use Django IF statments -->
{% if user.is_staff and user.is_superuser%}
    <div class="d-flex align-items-center justify-content-center">
        <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 100%;">
            <thead>
                <th>Name</th>
                <th>Payment Date</th>
                <th>Type</th>
                <th>Fine</th>
                <th>Amount</th>
            </thead>
            
            <tbody>
                <tr>
                    <td>Freddy Fazbear</td>
                    <td>2/13/2023</td>
                    <td>monthly</td>
                    <td>450000</td>
                    <td>4450000</td>
                </tr>
                <tr>
                    <td>Canon Curry</td>
                    <td>12/20/2022</td>
                    <td>daily</td>
                    <td>500000</td>
                    <td>5500000</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="d-flex align-items-center justify-content-center">
        <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 25%;">
            <thead>
                <th>Previous</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>Next</th>
            <thead>
        </table>
    </div>
    
    <div style="margin-top: 20px; text-align: center;">
        <a href="{% url 'main:dashboard' %}" ><button>Back</button></a>
    </div>
{% endif %}
{% endblock content %}
