{% extends 'base.html' %}
{% block content %}
<!-- Note that the model and form for Extracurricular have not been made yet for Group Assignment 2!-->
<h1 class="text-center">PICKUP SCHEDULE</h1>
<div>
    Days:
</div>
<div>
    <h2>Child Pickup Schedule</h2>

    <table>
        <thead>
            <tr>
                <th>Child Name</th>
                <th>Pickup Hour</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Child 1</td>
                <td>3:00 PM</td>
            </tr>
            <tr>
                <td>Child 2</td>
                <td>4:30 PM</td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
{% endblock content%}