{% extends 'base.html' %}
{% block content %}
<h1>Program Data</h1>
<!-- R Payment History (Child’s Perspective) Use Django IF statements -->

<h1> 

<div class="d-flex align-items-center justify-content-center">
    <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 100%;">
        <tbody>
            <tr>
                <th>Program Name:</th>
                <td>
                    <input type="text" name="programName">
                </td>
                <td></td>
            </tr>
            <tr>
                <th>Program Year:</th>
                <td>
                    <input type="text" name="programYear">
                </td>
                <td></td>
            </tr>
            <tr>
                <th>Class Name:</th>
                <td>
                    <input type="text" name="className">
                </td>
                <td></td>
            </tr>
            <tr>
                <th>Caregiver:</th>
                <td>
                    <input type="text" name="className">
                </td>
                <td></td>
            </tr>
            <tr>
                <th>Room Number:</th>
                <td>
                    <input type="text" name="className">
                </td>
                <td></td>
            </tr>
            <tr>
                <th>Enrolled On:</th>
                <td>
                    <input type="text" name="className">
                </td>
                <td></td>
            </tr>
            <tr>
                <th>Extracurricular Taken:</th>
                <td>
                    <input type="text" name="className">
                </td>
                <td> <button> Manage Extracurricular </button> </td>
            </tr>
            <tr>
                <th>Shuttle Service:</th>
                <td>
                    <input type="text" name="className">
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<h2> Activity Schedule </h2>
<table> </table>

<br>

<h2> Menu Schedule </h2>
<table> </table>
{% endblock content %}