{% extends 'base.html' %}
{% block content %}
<h1 style="text-align: center">Program Data</h1>
<!-- R Payment History (Child’s Perspective) Use Django IF statements -->


<div>
    <p>Program Name: Kindergarten</p>
    <p>Program Year: 2023</p>
    <p>Class Name: Orchard</p>
    <p>Caregiver: Jane DOe</p>
    <p>Room Number: 202</p>
    <p>Enrolled on:: 2022</p>
    <p>Extracurricular Name: Badminton, Soccer <button href="#">Manage Extracurricular</button></p>
    <p>Shuttle Service: 2PM, John Doe</p>
</div>

<h2> Activity Schedule </h2>
<table>
    <colgroup>
        <col style="width: 200px">
        <col style="width: 100px">
    </colgroup>
    <thead>
        <tr>
            <th>Activity Name</th>
            <th>Day</th>
            <th> Time </th>
        </tr>
        <tbody>
            <tr>
                <td>Badminton</td>
                <td>Monday</td>
                <td>10 AM - 11 AM</td> 
            </tr>
            <tr>
                <td>Basketball</td>
                <td>Thursday</td>
                <td>10 AM - 11 AM</td> 
            </tr>
        </tbody>
    </thead> 
</table>

<br>

<h2> Menu Schedule </h2>
<table>
    <colgroup>
        <col style="width: 200px">
        <col style="width: 100px">
    </colgroup>
    <thead>
        <tr>
            <th>Menu Name</th>
            <th>Day</th>
            <th>Hour</th>
        </tr>
        <tbody>
            <tr>
                <td>Rendang</td>
                <td>Monday</td>
                <td>12 AM</td> 
            </tr>
            <tr>
                <td>Ice Cream</td>
                <td>Thursday</td>
                <td>12 AM</td> 
            </tr>
        </tbody>
    </thead> 
</table>
{% endblock content %}