<body><h2>Register</h2>
    <form method="POST">
      <input type="hidden" name="csrfmiddlewaretoken" value="AHNALH8a2CTjlENXy5dy39qBSw6YERMcFkK21ynBYK3cDfZQQdtUIZz4UcfAX8RJ">
      <p>
      <label for="id_username">Phone Number:</label>
      <input type="text" name="username" maxlength="30" autofocus="" required="" id="id_username">
      
      
    </p>
  
    
    <p>
      <label for="id_password1">Password:</label>
      <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
      
        <span class="helptext"></span></p><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
      
      
    <p></p>
  
    
    <p>
      <label for="id_password2">Password confirmation:</label>
      <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
      
        <span class="helptext">Enter the same password as before, for verification.</span>
      
      
        
      
    </p>
      <p>
      <label for="id_firstName">FirstName:</label>
      <input type="text" name="firstName" maxlength="20" required="" id="id_firstName">
      
      
    </p>
  
    
    <p>
      <label for="id_lastName">LastName:</label>
      <input type="text" name="lastName" maxlength="20" required="" id="id_lastName">
      
      
    </p>
  
    
    <p>
      <label for="id_gender">Gender:</label>
      <select name="gender" required="" id="id_gender">
    <option value="" selected="">---------</option>
  
    <option value="Male">Male</option>
  
    <option value="Female">Female</option>
  
  </select>
      
      
    </p>
  
    
    <p>
      <label for="id_birthDate">BirthDate:</label>
      <input type="date" name="birthDate" required="" id="id_birthDate">
      
      
    </p>
  
    
    <p>
      <label for="id_address">Address:</label>
      <textarea name="address" cols="40" rows="10" required="" id="id_address"></textarea>
      
      
        
      
    </p>
    <p>
        <label for="id_NIK">NIK:</label>
        <input type="text" name="NIK" maxlength="50" required="" id="id_NIK">
        
        
      </p>
    
      
      <p>
        <label for="id_NPWP">NPWP:</label>
        <input type="text" name="NPWP" maxlength="50" required="" id="id_NPWP">
        
        
      </p>
    
      
      <p>
        <label for="id_BankAccount">BankAccount:</label>
        <input type="text" name="BankAccount" maxlength="50" required="" id="id_BankAccount">
        
        
      </p>
    
      
      <p>
        <label for="id_BankName">BankName:</label>
        <input type="text" name="BankName" maxlength="50" required="" id="id_BankName">
        
        
          
        
      </p>
      <p>
      <label for="id_numberOfCertificates">Number of Certificates:</label>
      <input type="number" name="numberOfCertificates" min = "1" required="" id="id_numberOfCertificates">
      
      
    </p>
    <div>
    <p>
        <label for="id_certificateName">Certificate Name:</label>
        <input type="text" name="certificateName" maxlength="20" required="" id="id_certificateName">
        
        
      </p>
    
      
      <p>
        <label for="id_certificateNumber">Certificate Number:</label>
        <input type="text" name="certificateNumber" maxlength="20" required="" id="id_certificateNumber">
        
        
      </p>
    
      
      <p>
        <label for="id_BankAccount">BankAccount:</label>
        <input type="text" name="BankAccount" maxlength="50" required="" id="id_BankAccount">
        
        
      </p>
    
      
      <p>
        <label for="id_certificateOrganizer">Certificate Organizer:</label>
        <input type="text" name="certificateOrganizer" maxlength="20" required="" id="id_certificateOrganizer">
        
        
          
        
      </p>
    </div>
      <button type="submit">Register</button>
    </form>
    <a href="{% url 'main:register' %}" ><button>Back</button></a>
     
  </body>