{% extends 'base.html' %}
{% block content %}
<!-- Note that the model and form for Extracurricular have not been made yet for Group Assignment 2!-->
<h1 class="text-center">Update Basketball Activity</h1>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.activityName }}" class="form-label">Activity Name: </label>
        <input type="text" class="form-control" maxlength="30" value="{{ form.activityName.value }}">
    </div>
</form>
<div style="margin-top: 20px; text-align: center;">
    <a href="{% url 'main:activity' %}" ><button>Update</button></a>
</div>

{% endblock content %}